.timer {
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 20px;
  height: 75px;
  justify-content: center;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 150px;
}