.infoContainer {
  align-items: center;
  color: white;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}