.boardContainer {
  width: 100%;
  height: 100%;

  form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .board {
    aspect-ratio: 1413 / 2245;
    align-items: center;
    background-image: url('../../../../public/board.svg');
    background-size: cover;
    //display: grid;
    max-width: 500px;
    margin: 50px auto;

  .line {
      display: grid;
      grid-template-columns: repeat(auto-fit, 20%);
      justify-items: center;
      justify-content: space-around;
      height: 25%;
      width: 100%;

      &:first-child {
        align-items: center;
      }

      .player {
        aspect-ratio: 1 / 1;
        align-items: center;
        border: 5px solid white;
        border-radius: 50%;
        background: #3498db;
        color: white;
        display: flex;
        font-size: 15px;
        justify-content: center;
        position: relative;
        width: 45%;

        span {
          position: absolute;
          bottom: -47px;
          display: flex;
          justify-content: center;
          justify-items: center;
          padding: 0 10px;
          text-align: center;
          text-shadow: 1px 1px 1px black;
        }
      }  
    }
  }
}